
@media(max-width:575.98px){
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/WhatsApp\ Image\ 2021-05-02\ at\ 9.27.54\ PM.jpeg) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
    button{
        display: block;
        width: 100%;
    }
    header{
        display: block;
        position: sticky;
        top: 0;
    }
  
}

@media(min-width:576px) and (max-width:767.98px){
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/WhatsApp\ Image\ 2021-05-02\ at\ 9.27.54\ PM.jpeg) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
    button{
        display: block;
        width: 100%;
    }
    header{
        display: block;
        position: sticky;
        top: 0;
    }

}
@media(min-width:768px) and (max-width:991.98px){
    header{
        display: block;
        position: sticky;
        top: 0;
    }
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/WhatsApp\ Image\ 2021-05-02\ at\ 9.27.54\ PM.jpeg) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
    button{
        display: block;
        width: 100%;
    }
   
}
@media(min-width:992px) and (max-width:1199.98px){
    header{
        display: block;
        position: sticky;
        top: 0;
    }
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/WhatsApp\ Image\ 2021-05-02\ at\ 9.27.54\ PM.jpeg) center left;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
}
@media(min-width:1200px){
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(../img/WhatsApp\ Image\ 2021-05-02\ at\ 9.27.54\ PM.jpeg)  right;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
}