
@media(max-width:575.98px){
    .bg{
        width: 100%;
        min-height: 80vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/qqq.jpeg) no-repeat center top;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
    button{
        display: block;
        width: 100%;
    }
    header{
        display: block;
        /* position: sticky;
        top: 0; */
    }
    button .ss{
        margin-right: 8px!important;
    }
    .content{
        margin-top: 0px;
        text-align: right;
    }
  
}

@media(min-width:576px) and (max-width:767.98px){
    .bg{
        width: 100%;
        min-height: 80vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img/qqq.jpeg) no-repeat center top;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
    button{
        display: block;
        width: 100%;
    }
    header{
        display: block;
        /* position: sticky;
        top: 0; */
    }
    button .ss{
        margin-right: 8px!important;
    }
    .content{
        margin-top: 0px;
        text-align: right;
    }

}
@media(min-width:768px) and (max-width:991.98px){
    /* header{
        display: block;
        position: sticky;
        top: 0;
    } */
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img//bbb.jpeg) no-repeat center right ;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .bg h2{
        font-size: 25px;
    }
   
    button .ss{
        margin-right: 8px!important;
    }
    .content{
        margin-top: 440px;
        text-align: right;
    }
   
}
@media(min-width:992px) and (max-width:1199.98px){
    /* header{
        display: block;
        position: sticky;
        top: 0;
    } */
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img//aaa.jpeg) no-repeat center right ;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    
}
@media(min-width:1200px){
    .bg{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../img//aaa.jpeg) no-repeat center right ;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
}